.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: min(2vw, 50px);
  justify-content: center;
}

@media (max-width: 1300px) {
  .container {
    gap: min(2vw, 25px);
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 15px;
    padding-top: 120px;
  }
}
